.App {
  text-align: center;
}
body {
  background-color: #ffe6e6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h4 {
  margin: 4px;
}
.linkhead {
  text-decoration: none;
}
.linksalign {
  color: white;
  padding-right: 22px;
}
.link {
  color: #ffe6e6;
  margin: 15px;
  text-decoration: none;
}
.image {
  border-radius: 100%;
  height: 160px;
  border: solid 2px #000000;
}
.imgc {
  height: 50px;
  margin: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #a685e2;
  padding: 0.85em;
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 70px;
}
.card {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.text {
  margin: 15px 100px;
  text-align: justify;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box {
  color: #6155a6;
  padding: 2px;
}
